.login {

    width: 100%;

    display: flex;

    justify-content: center;

    align-items: center;

    &__card {

        width: 100%;
        max-width: 430px;

    }

    &__logo {

        margin-bottom: 48px;

        text-align: center;

    }


    &__title {

        margin-bottom: 1em;
        font-size: 1.4rem;
        font-family: "Lato-Regular";
        text-align: center;

    }

}