# PostgreSQL
POSTGRES_DB=authentication_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Admin
APP_ADMIN_EMAIL=admin@econocom.com
APP_ADMIN_PASSWORD=Admin123*

# JWT
JWT_SECRET=7X9nK2pQ5rT8vW3yZ4cF6hJ1mL3oR8sU23